In [2]:
print("Hello Wolrd")

Hello Wolrd

# List
* 순서가 있는 수정가능한 객체의 집합입니다.
* 수정, 삭제, 추가가 가능합니다.
* list 는 [] 대괄호로 작성되어지며, 내부 원소는 ,로 구분됩니다.
* REPL에서 확인하겠습니다. 일반 list 입니다.

In [3]:
[1,2,3,4]

[1, 2, 3, 4]

In [4]:
type([1,2,3,4])

list

In [9]:
a = [1,2,3,4,5]
print(a[2])
print(a[4])

3
5

In [10]:
[1,2,3,4,5][2]

3

In [11]:
a = [1,2,3,4,5]
a[9]

IndexError: list index out of range

In [12]:
list_a = [1,2,[1,2,3],4]
list_a[2]

[1, 2, 3]

In [1]:
list_a[2][1]

NameError: name 'list_a' is not defined

In [14]:
list_b = []
list_c = list()

#### 리스트에 원소를 추가

In [2]:
list_c = list()
list_c.append(5)

In [4]:
list_c.append(2)

In [5]:
list_c

[5, 2]

In [12]:
a = [1,2,3,4,5]
b = [10,11,12]
c = a+b
c

[1, 2, 3, 4, 5, 10, 11, 12]

In [13]:
d = a[1]+b[2]
d

14

In [14]:
c = a.append(b)
print(c)

None

#### 문자열을 리스트로 변형

In [18]:
str_a = "Good morning"
list_a = list(str_a)
list_a

['G', 'o', 'o', 'd', ' ', 'm', 'o', 'r', 'n', 'i', 'n', 'g']

###  List(리스트)(2) - 리스트 인덱싱, 리스트 슬라이싱

In [21]:
s = 'show how to index into sequences'.split()
s

['show', 'how', 'to', 'index', 'into', 'sequences']

In [22]:
s[1]

'how'

#### 슬라이싱

In [23]:
s = 'show how to index into sequences'.split()
s[1:4]

['how', 'to', 'index']

In [24]:
s[1:]

['how', 'to', 'index', 'into', 'sequences']

In [25]:
s[:4]

['show', 'how', 'to', 'index']

In [26]:
s[1:-1]

['how', 'to', 'index', 'into']

In [30]:
s[-3:-1]

['index', 'into']

#### 리스트를 복사하는 방법

In [50]:
u = s.copy()
a = u+[1,2,3,4,5,65,6,7,77,7,]
a[11]
a[1:11:2]

##### step을 사용

In [41]:
a[1:5:3]

['how', 'into']

#### list 관련 메소드 및 연산

In [56]:
a = ['서울','인천', '대전','제주도', '인천']
a.index('창원')

ValueError: '창원' is not in list

In [57]:
a = ['서울','인천', '대전','제주도', '인천']
a.count('인천')

2

##### in절로 list안에 포함되어 있는지 확인

In [58]:
a = ['서울','인천', '대전','제주도', '인천']
'서울' in a

True

## List(리스트)(4) - 리스트 원소 추가, 삭제

In [60]:
a = [1, 2, 3, 4, 5]
a.append(6)
a

[1, 2, 3, 4, 5, 6]

##### insert : 리스트.insert(입력할index, 값)

In [61]:
a = [1, 2, 3, 4, 5]
a.insert(2, 10)
a

[1, 2, 10, 3, 4, 5]

###### extend메소드 : 리스트.extend(추가할리스트)

In [68]:
a = [1, 2, 3, 4, 5]
a.extend([6,'a'])
a

[1, 2, 3, 4, 5, 6, 'a']

#### list 원소 삭제

##### del 키워드를 통한 삭제

In [71]:
a = [1, 2, 3, 4, 5]
del a[3]
a

[1, 2, 3, 5]

##### remove를 이용한 삭제

In [76]:
a = [1, 2, 3, 4, 5, 6]
a.remove(a[2])
a

[1, 2, 4, 5, 6]

In [79]:
a = [1, 2, 3, 4, 5, 6]
del a[a.index(4)]
a

[1, 2, 3, 5, 6]

##### pop을 이용한 삭제

In [84]:
a = [1, 2, 3, 4, 5, 6]
a.pop(1)
# a

2

##  List(리스트)(5) - 리스트 정렬

In [86]:
a = [1, 10, 5, 7, 6]
a.reverse()
a

[6, 7, 5, 10, 1]

In [91]:
a = ['서울', 'b산','망산','a산','창원','부산','진해']
a.sort()
a

['a산', 'b산', '망산', '부산', '서울', '진해', '창원']

In [93]:
a = ['서울', 'b산','망산','a산','창원','부산','진해']
a.sort(reverse=True)
a

['창원', '진해', '서울', '부산', '망산', 'b산', 'a산']

In [98]:
m = '나는 파이썬을 잘하고 싶다'
list_m = m.split()
list_m.sort(key=len , reverse=True)
list_m

['파이썬을', '잘하고', '나는', '싶다']

[1, 2, 3, 4, 5]